@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}
.three {
  height: 100vh;
  width: 100%;
}
canvas {
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -10;
}
.titleImg {
  width: 400px;
  position: absolute;
  margin-top: -60vh;
  left: 50%;
  margin-left: -202px;
}
.downArrow {
  width: 20px;
  position: absolute;
  margin-top: -5vh;
  left: 50%;
  margin-left: -20px;
  transition: opacity 0.5s;
}
.downArrow:hover {
  opacity: 0.7;
}
.tooltip {
  position: absolute;
  margin-top: -5vh;
  margin-left: 17px;
  transition: opacity 1s;
}

.whatsThisImg {
  width: 20px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  opacity: 0;
  margin-top: -49px;
  margin-left: 10px;
  width: 180px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover {
  opacity: 0.7;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: 20px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

@media screen and (max-width: 600px) {
  .downArrow,
  .tooltip {
    display: none;
  }
}
